.centered{
    justify-content: center;
    text-align: -webkit-center;
    place-content: center;
}

.avatar{
    height: 200px;
    width: 200px;
}

.header{
    font-size: 30px;
}

.table{
    width: 400px;
}